@model Nhom4_DoAnWeb_CHDT.Models.tblLOAIDIENTHOAI

@{
    ViewBag.Title = "Thông tin Loại điện thoại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Loại Điện Thoại</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Loại: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MALOAI)
        </dd>
        <dt>
           Tên Loại: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENLOAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay lại", "danh_sach") | 
    @Html.ActionLink("Sửa", "sua_thong_tin", new { id = Model.MALOAI , @style = "margin-left:30px" })
</p>
