@{
    ViewBag.Title = "ConfirmPayment";
}

<h2 style="color:mediumseagreen; text-align:center">Thanh toán thành công</h2>
<div>
    @Html.ActionLink("Back to List", "CapnhatSoluongTon", "GioHang")
</div>