@model IEnumerable<Nhom4_DoAnWeb_CHDT.Models.tblHOADON>
@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thống kê hóa đơn bán hàng</h2>
@using (Html.BeginForm("ThongKe", "HoaDon", FormMethod.Get))
{
    <label for="start-date">Ngày bắt đầu:</label>
    <input type="date" id="start-date" name="start-date">

    <label for="end-date">Ngày kết thúc:</label>
    <input type="date" id="end-date" name="end-date">

    <button type="submit">Thống kê</button>
}

<table class="table">
    <tr>
        <th>
            Mã nhân viên:
        </th>
        <th>
            Ngày lập:
        </th>
        <th>
            Tổng trị giá:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.MANV
            </td>
            <td>
                @item.NGAYLAP
            </td>
            <td>
                @item.TONGTG
            </td>
        </tr>
    }
    <tr>
        <th>Tổng doanh thu</th>
        <td>@ViewBag.TotalRevenue</td>
    </tr>

</table>